<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    <title>Host Edit</title>
</head>
<body>
  <%- include ('partial/nav') %>
  <%- title %>
  <h3 class="text-success">Edit <%=product.name%></h3>
  <!-- we will create a form to send data to backend and store into the database -->
  <div class="update-products content">
    <form action="/product_edit/<%= product.id %>" method="post" style="display: inline-grid;">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%=product.name%>">
        <label for="image">Image</label>
        <input type="text" id="image" name="image" value="<%=product.image%>">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="<%=product.price%>">
        <input type="submit">
    </form>
  </div>    
</body>