<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>

    <%- include ('partial/nav') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="ind" >

        <% add.forEach(function(product){ %>
            
    <div style="margin:50px; display: inline-grid;">
            <h4><%= product.name %></h4> 
            <img src="<%= product.image %>" alt="" style="width: 300px;height: 250px;">
            <H5>Address:</H5> 
             <h5>Price: <%=product.price%> CAD</h5></td>
             <a class="btn btn-warning" href="/product/<%= product._id %>">Register</a>
             <br>
             <a class="btn btn-warning" href="/product/<%= product._id %>">Add to Cart</a>
    </div>

         <% }) %>
</div>

</body>
</html>