<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>

    <%- include ('partial/nav') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

           
<container class="container-fluid">

            <div class="col-m-3">
                
                <card class="cards">
                    <% add.forEach(function(product){ %> 
                <li>
                  <div class="card">
                    <img src="<%= product.image %>" class="card__image" alt="" >
                    <div class="card__overlay">
                      <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                        <img class="card__thumb" src="/image.jpg" alt="" style="height:50; width:50px">
                       
                        <div class="card__header-text">
                          
                          <h3 class="card__title">City: <%=product.city%></h3>            
                          <h3 class="card__title">Address: <%=product.address%></h3>
                          <a href="/order/<%= product._id %>">Register</a>
                                
                          <br>
                          <span class="card__status">Price: <%=product.price%> CAD</span>
                         
                       
                        </div>
                      </div>
                      <p class="card__description">Feedbacks from other Customers: </p>
                      
                    </div>
                  </div>
                        
                </li>
                
                <% }) %> 
            </card>
            <form action="/product/payment" method="POST">
              <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="<%- key %>">
                 
              </script>
              </form>
        </div>
       
               
        </container>
       
</div>


</body>
<footer>
    <%- include ('partial/footer') %>
</footer>
</html>